<div class="container text-center">
  <h1>Wagon Hunt - Product List</h1>
  <h2>Here are our awesome products</h2>

  <p>
  <%= link_to "Revenir à l'accueil", root_path, class: "btn btn-primary" %>
  <%= link_to "Ajouter un produit", new_product_path, class: "btn btn-success" %>
  </p>

  <p>
    <ul class="list text-left">
      <% @products.each do |product| %>

        <li>
          <%= product.name %> - <%= product.url %> | <%= link_to "Voir détail", product_path(product) %><br>

          <h6>
            <%= product.tagline %> | <%= link_to "Modifier ce produit", edit_product_path(product) %> | <%= link_to "Effacer ce produit", product_path(product), method: :delete %>
          </h6>

        </li>

      <% end %>
    </ul>
  </p>
</div>
