<div class="container text-center ">
    <h1>Le détail de mon produit</h1>
    <h2>Nom : <%= @product.name %></h2>
    <h3>URL : <%= @product.url %></h3>
    <h3>Tagline : <%= @product.tagline %></h3>

    <p><%= link_to "< Back", products_path, class: "btn btn-primary" %>
    | <%= link_to "Editer", edit_product_path(@product), class: "btn btn-warning" %>
    | <%= link_to "Effacer", product_path(@product), method: :delete, class: "btn btn-danger" %>
    </p>

</div>
